<!--eachなどはdivに入れずに記載する-->
<% tweet.each do |tweet| %>
  <div class="col-md-4">
    <div class="card-index">
      <div class="card-body">
        <%= attachment_image_tag tweet, :image, fallback: "no_image_icon.jpg", class:"card-img-top" %>
       <h4 class="card-title text-center"><%= tweet.title %></h4>
       <p class="card-text text-center"><%= tweet.description %></p>
        <div class="md-4">
          <%= link_to "削除", tweet_path(tweet), method: :delete %>
        </div>
       <!--<a href="#" class="btn btn-primary">詳細を見る</a>-->
      </div>
    </div>
  </div>
<%end%>