<div class="container jumbotron position-relative text-center">
    <div class="col">
        <h1>どういうサイトなの？？</h1>
    </div>
    <div class="col h3">
       映画を見たいけどどんな映画を見ようと悩んでいる方、自分のおすすめの映画を誰かに教えてあげたいと思っている方！！<br>
       このサイトは、皆さんで自分がおすすめの映画を共有できるSNSサイトになってます！皆さんで情報を共有しながら楽しく新しい映画の発見をしてください！<br>
       <br>
       <br>
       夢のある映画の旅をお楽しみください！！
    </div>

</div>