<div class="container mx-auto d-flex justify-content-center top" >
  <div class="row">
    <div class="col d-flex align-items-center text-align-center">
      <div>
        <h1>Share Theater</h1><br>
        <div class="text-center"><%= link_to "投稿一覧", tweets_path, class: "btn btn-outline-secondary btn-block bg-light"%></div>
      </div>
    </div>
  </div>
</div>

