<h1>コメント一覧</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>名前</th>
      <th>評価</th>
      <th>コメント</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% tweet_comments.each do |tweet_comment| %>
      <tr>
        <td><%= tweet_comment.user.last_name + tweet_comment.user.first_name %></td>
        <td class="movie-rate" data-score="<%= tweet_comment.rate %>"></td>
        <td><%= tweet_comment.comment %></td>
        <td>
          <% if tweet_comment.user == current_user %>
            <%= link_to "削除", tweet_tweet_comment_path(tweet_comment.tweet.id, tweet_comment.id), method: :delete, remote: true %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  $('.movie-rate').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>